@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("_fonts");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  /* по умолчанию */
}

body {
  line-height: 1;
  font-family: "Helvetica";
  font-weight: 500;
  background: #1a1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 60px;
  padding: 80px 0px 30px 0px;
}

@media (max-width: 1050px) {
  .top {
    margin-bottom: 50px;
    padding: 70px 0px 30px 0px;
  }
}

@media (max-width: 991.98px) {
  .top {
    margin-bottom: 40px;
    padding: 60px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .top {
    margin-bottom: 30px;
    padding: 40px 0px 30px 0px;
  }
}

@media (max-width: 425.98px) {
  .top {
    margin-bottom: 20px;
    padding: 30px 0px 30px 0px;
  }
}

.top__title {
  position: absolute;
  font-weight: 900;
  font-size: 90px;
  line-height: 150px;
  letter-spacing: 0.2em;
  color: #303030;
  text-transform: uppercase;
}

@media (max-width: 1050px) {
  .top__title {
    font-size: 80px;
    line-height: 140px;
  }
}

@media (max-width: 991.98px) {
  .top__title {
    font-size: 65px;
    line-height: 130px;
  }
}

@media (max-width: 767.98px) {
  .top__title {
    font-size: 55px;
    line-height: 110px;
  }
}

@media (max-width: 425.98px) {
  .top__title {
    font-size: 45px;
    line-height: 85px;
  }
}

.top__subtitle {
  z-index: 2;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.2em;
  color: #d9d9d9;
}

@media (max-width: 1050px) {
  .top__subtitle {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 991.98px) {
  .top__subtitle {
    font-size: 35px;
    line-height: 60px;
  }
}

@media (max-width: 767.98px) {
  .top__subtitle {
    font-size: 28px;
    line-height: 50px;
  }
}

@media (max-width: 425.98px) {
  .top__subtitle {
    font-size: 18px;
    line-height: 36px;
  }
}

.top::after {
  content: "";
  position: absolute;
  top: 180px;
  width: 60px;
  height: 2px;
  background-color: #34c759;
}

@media (max-width: 1050px) {
  .top::after {
    top: 160px;
  }
}

@media (max-width: 991.98px) {
  .top::after {
    top: 140px;
  }
}

@media (max-width: 767.98px) {
  .top::after {
    top: 100px;
  }
}

@media (max-width: 425.98px) {
  .top::after {
    top: 80px;
  }
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
/* Условные планшеты */
/* Условные мобилки */
.header {
  padding: 33px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switcher__label {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switcher__input {
  display: none;
}

.switcher__input:checked + .switcher__slider {
  background-color: #34c759;
}

.switcher__input:focus + .switcher__slider {
  -webkit-box-shadow: 0 0 1px #34c759;
          box-shadow: 0 0 1px #34c759;
}

.switcher__input:checked + .switcher__slider:before {
  -webkit-transform: translateX(12px);
      -ms-transform: translateX(12px);
          transform: translateX(12px);
}

.switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 14px;
}

.switcher__slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: black;
  border-radius: 14px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.switcher__text {
  padding: 0px 0px 0px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #34c759;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 767.98px) {
  .list__body {
    display: none;
  }
}

.list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.list__link:hover {
  color: #34c759;
}

.icon-list {
  display: block;
  position: absolute;
  top: 70%;
  right: 10px;
  width: 35px;
  cursor: pointer;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-color: transparent;
  z-index: 6;
}

.icon-list span {
  position: absolute;
  width: 100%;
  height: 12px;
  background-color: #34c759;
}

@media (max-width: 767.98px) {
  .icon-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.food {
  position: relative;
  overflow: hidden;
}

.food__fon-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.food__image {
  height: 100%;
  width: 100%;
}

.food__block {
  position: relative;
  padding: 0px 15px;
}

.food__container {
  padding: 170px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .food__container {
    padding: 40px 0px;
  }
}

.food__title {
  max-width: 1090px;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.food__title:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 767.98px) {
  .food__title {
    max-width: 320px;
    font-size: 32px;
    line-height: 34px;
  }
}

.food__item {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: -0.2px;
  opacity: 0.7;
  max-width: 595px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 767.98px) {
  .food__item {
    font-size: 13px;
    line-height: 1.2;
    max-width: 295px;
  }
}

.food__btn {
  margin: 0px 0px 70px 0px;
  padding: 25px 57px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  background: #34c759;
  border-radius: 43px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1a1a1a;
}

@media (max-width: 767.98px) {
  .food__btn {
    margin: 0px 0px 30px 0px;
    padding: 15px 27px;
    font-size: 14px;
    line-height: 18px;
  }
}

.food__inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

@media (max-width: 767.98px) {
  .food__inform {
    display: block;
  }
  .food__inform :not(:last-child) {
    margin-bottom: 20px;
  }
}

.food__info {
  min-width: 215px;
}

.food .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.food .info__img {
  margin-bottom: 18px;
}

@media (max-width: 767.98px) {
  .food .info__img {
    width: 6%;
    margin-bottom: 8px;
  }
}

.food .info__title {
  margin-bottom: 16px;
}

@media (max-width: 767.98px) {
  .food .info__title {
    margin-bottom: 8px;
    font-size: 12px;
  }
}

.food .info__text {
  margin-bottom: 16px;
}

@media (max-width: 767.98px) {
  .food .info__text {
    margin-bottom: 8px;
    font-size: 12px;
  }
}

.work__block {
  margin: 0px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .work__block {
    display: block;
    text-align: center;
  }
  .work__block *:not(:last-child) {
    margin-bottom: 15px;
  }
}

.work__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  min-height: 100%;
  padding: 0px 15px;
  border-radius: 6px;
}

.work__card :hover {
  color: #191919;
  background-color: #34c759;
}

@media (max-width: 991.98px) {
  .work__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 20px;
    gap: 20px;
  }
}

.card__body {
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  height: 100%;
  background-color: #252525;
}

.card__body *:not(:last-child) {
  margin-bottom: 25px;
}

.card__body-title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #ffffff;
}

.card__body-title::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 47px;
  height: 2px;
  background: #208020;
}

@media (max-width: 767.98px) {
  .card__body-title::after {
    width: 100%;
  }
}

.card__body-text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.dishes__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0px -15px;
}

.dishes__cards {
  padding: 0px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 320px;
}

.card__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1140px) {
  .card__section {
    max-width: 350px;
  }
}

.card__image {
  position: relative;
  padding: 0px 0px 74.28571428571429% 0px;
}

.card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card__image:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252525;
}

.card__body *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.card__link {
  font-size: 32px;
  line-height: 30px;
  color: #d9d9d9;
}

.card__link:hover {
  color: #34c759;
}

@media (max-width: 767.98px) {
  .card__link {
    font-size: 26px;
    line-height: 28px;
  }
}

@media (max-width: 425.98px) {
  .card__link {
    font-size: 18px;
    line-height: 20px;
  }
}

.card__body-subtitle {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #a4a8b2;
}

.card__body-text {
  margin-bottom: 20px;
}

.card__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  .card__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-card__button {
  font-weight: 900;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0px 27px;
  background: #34c759;
  color: #252525;
  border-radius: 28px;
}

.reting {
  position: relative;
  font-size: 20px;
  display: inline-block;
}

.reting::before {
  display: block;
  content: "★★★★★";
}

.reting__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}

.reting__input {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.reting__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  height: 100%;
  cursor: pointer;
  color: #4d4d4d;
}

.reting__label::before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.reting__label:hover,
.reting__label:hover ~ .reting__label,
.reting__label:checked ~ .reting__label:hover {
  color: #f1bd6f;
}

.our-recipes__container {
  padding: 30px 0px;
}

.our-recipes__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  /* Условные планшеты */
  /* Условные мобилки */
}

@media (max-width: 1050px) {
  .our-recipes__block {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 991.98px) {
  .our-recipes__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.our-recipes__card-big {
  position: relative;
  padding: 60px 0px;
}

@media (max-width: 425.98px) {
  .our-recipes__card-big {
    padding: 20px 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.big-card__fon-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.big-card__img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.big-card__info {
  padding: 0px 15px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .big-card__info {
    padding: 0px 10px;
  }
}

.big-card__button {
  margin: 0px 0px 60px 0px;
  color: #ffffff;
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 0px 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .big-card__button {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 425.98px) {
  .big-card__button {
    margin: 0px 0px 5px 0px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.5px;
  }
}

.big-card__data {
  margin: 0px 0px 25px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
}

@media (max-width: 991.98px) {
  .big-card__data {
    margin: 0px 0px 10px 0px;
    padding: 30px;
  }
}

.big-card__text {
  margin: 0px 0px 45px 0px;
  font-size: 24px;
  line-height: 40px;
  padding: 0px 10px;
  text-align: center;
}

@media (max-width: 991.98px) {
  .big-card__text {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 425.98px) {
  .big-card__text {
    margin: 0px 0px 25px 0px;
    font-size: 18px;
    line-height: 20px;
  }
}

.big-card__bottom {
  padding: 0px 0px 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 60px;
  overflow: hidden;
  min-width: 140px;
}

.big-card__bottom img {
  margin: 0px 10px 0px 0px;
}

@media (max-width: 991.98px) {
  .big-card__bottom {
    padding: 0px 0px 40px 0px;
  }
}

@media (max-width: 425.98px) {
  .big-card__bottom {
    padding: 0px 0px 15px 0px;
    top: 20px;
  }
}

.big-card__watch_see {
  color: #ffffff;
}

.big-card__comment_write {
  color: #ffffff;
}

.small-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
}

.small-card__block {
  color: #ffff;
  padding: 30px 30px 25px 30px;
  border-radius: 6px;
  height: 100%;
  background: #252525;
  border-radius: 6px;
}

.small-card__block:nth-child(2) {
  background: url("../img/jpg/ss1.jpg") 0 0/cover no-repeat;
  width: 100%;
  height: 33.333%;
}

.small-card__block:hover {
  background: #34c759e0;
}

.small-card__text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}

@media (max-width: 425.98px) {
  .small-card__text {
    font-size: 14px;
    line-height: 20px;
  }
}

.small-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425.98px) {
  .small-card__bottom {
    display: block;
  }
}

.small-card__data {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425.98px) {
  .small-card__data {
    margin-bottom: 15px;
  }
}

.small-card__button {
  padding: 5px 12px;
  background: #00000071;
  border-radius: 4px;
  color: #ffffff;
}

.small-card__watch img {
  margin: 0px 10px 0px 0px;
}

.small-card__watch_see {
  margin-right: 20px;
  color: #ffffff;
}

.small-card__comment_write {
  color: #ffffff;
}
